@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&family=Open+Sans:wght@400;500;700&family=Roboto:wght@400;500;700&family=Work+Sans:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(black, rgb(8, 8, 129), black);
    font-family: 'open sans';
    width: 100%;
}

.menu {    
    display: flex;
    justify-content: space-around;
    background-color: gold;
    width: 100%;
    padding: 0 100px 0 100px;
    align-items: center;
    text-align: center;
    justify-content:center;
    transition: top 0.3s;
    position: fixed;
    top: -75px;
    left: 0;
    z-index: 1000;
}
.menu.active {
    top: 0;
}
.menuu li {
    cursor: pointer;
    color: black;
}

.menuu li:hover {
    color: white;
}

.menuu {
    display: flex;
    gap: 1.6rem;
    align-items: center;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}


nav {
    width: 870px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 1.6rem;
    color: black;
    padding: 0 50px 0 50px;
}
nav li {
    cursor: pointer;
}

nav li:hover {
    color: white;
}

nav li:last-child {
    border: 1px solid black;
    color: black;
    border-radius: 15px;
    height: 30px;
    width: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: 500;
    cursor: pointer;
    
}

nav li:last-child:hover {
    height: 50px;
    border: 1px solid whitesmoke;
    border-radius: 15px;
    color: white;
}


.content {
  width: 870px;
  margin: auto;
  background-color: whitesmoke;
    
}

.picture-1 {
    width: 870px;
    background: gold;
    box-shadow: 0 5px 15px rgba(0,0,0,0.6);

    
}

.picture-1 img {
    width: 800px;
    margin-top: 60px;
}
.picture-1 p {
    color: #f1f1f1;
    font-size: xx-large;
    font-family: 'open-sans';
    font-weight: 700;
    margin: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-shadow:5px 10px 15px black;
}
.sobre {
    display: flex;
    flex-direction: row;
    width: 800px;
    gap: 1.8rem;
    

}

.texto {
    padding: 50px;
}

.imgsobre img {
    width: 300px;
    margin-top: 10px;
    box-shadow: 0 0 15px black;
}

.mvv {
    width: 870px;
    height: 80vh;
    padding: 50px;
    gap: 1.8rem;
    color: whitesmoke;
    box-shadow: 0 5px 15px rgba(0,0,0,0.6); 
    background: url(./assets/image/pac-7.png);
    background-size: cover;  
    background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #06121e), url("../assets/image/pac-7.png");
    opacity: 0.99;
    display: flex;
    text-align: center;
    align-items: center;
    margin: 20px 0;
}
.mvv ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    opacity: 1;
}
.mvv li {
    display: none;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    color: whitesmoke;
    line-height: 150%;
}

.mvv  li.active {
    display: block;
    animation: fade 1.5s ease-in-out;
}




.action {
    width: 870px;
    padding: 50px;
    font-weight: 500; 
    font-size: 20px;
    color: rgb(73, 72, 72);
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.action h1 {
    font-weight: 700;
}

.action img {
    width: 750px;
    
    box-shadow: 0 5px 15px rgba(0,0,0,1);
    
    
}
.acttext {
    font-weight: 500;
    font-size: 20px;
    color: rgb(73, 72, 72);
}



.service {
    width: 870px;
    height: 60vh;
    padding: 40px;
    gap: 1.8rem;
    background: url(./assets/image/colonial5.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-weight: 500;  
    box-shadow: 0 5px 15px rgba(0,0,0,0.6);
    display: flex;
    text-align: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #06121e), url("../assets/image/colonial5.jpeg");
    opacity: 0.99;
    
}


.servbox {    
    list-style: none;
    
}
.servbox ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    opacity: 1;
}
.servbox li {
    display: none;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    color: whitesmoke;
    line-height: 150%;
}

.servbox  li.active {
    display: block;
    animation: fade 1.5s ease-in-out;
}


.fotos {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 500; 
    font-size: 20px;
    color: rgb(73, 72, 72);
    width: 870px;
    

}
.fotos h1 {
    margin: 25px;
}

.buttons {
    margin: 15px;
    display: flex;
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    gap: 1.8rem;
    border-radius: 1px;
    
}
.buttons button {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    
}
#prevBtn {
    left: 0;
    
  }
  
  #nextBtn {
    right: 0;
  }

.buttons button:hover {
    border: 1px solid gold;
    
    
}
.slider {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
    
}

.slides img {
    width: 800px;
    height: 600px;
    border-radius: 15px;
   
}

.slides input {
    display: none;
}

.slide {
    
    flex: 1 0 100%;
    text-align: center;
    padding: 20px;
}

.location {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 50px;
    font-weight: 500; 
    font-size: 20px;
    color: rgb(73, 72, 72);
    gap: 1.8rem;
}

.location iframe {
    padding: 50px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.6);
}

.helper {
    height: 100px;
    background-color: goldenrod;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row-reverse;
    padding: 50px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.6);
    justify-content: center;
    width: 100%;
}

.help {
    border: 1px solid black;
    border-radius: 10px;
    height: 50px;
    width: 250px;
    font-weight: 500;
    color: whitesmoke;
    background-color: black;
    cursor: pointer;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    box-shadow: 0 5px 15px rgba(0,0,0,0.6);
}

.help:hover {
    height: 70px;
    border: 3px solid whitesmoke;
    transform: scale(1.1); 
    box-shadow: 0 5px 15px rgba(0,0,0,0.6);
}

.contato {
    width: 870px;
    gap: 1.8rem;
    background-repeat: no-repeat;
    background-size: contain;
    
    
}

.contato h1 {
    display: flex;
    justify-content: center;
   color: whitesmoke;
   text-shadow: 5px 10px 15px black;
   font-size: xx-large;
   font-weight: 700;
   font-family: 'open sans';
}
.contatext {
    color: whitesmoke;
    text-shadow: 5px 10px 15px black;
    font-size: large;
    font-weight: 500;
}

.form {
    background-image: url(./assets/image/pic-01.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px;
    gap: 0.9rem;
    color: rgb(73, 72, 72);
    background-image: linear-gradient(to top, rgba(6, 18, 30, 0.1), #06121e), url("../assets/image/pic-01.png");
    opacity: 0.99;
   
}

.box-contact {
    border-radius: 10px;
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 50px auto;
    background: whitesmoke;
    box-shadow: 0 5px 15px rgba(0,0,0,0.6);
    
}

.box-contact li {
    display: flex;
    gap: 1.1rem;
    padding: 15px;
    font-family: 'open sans';
    font-size: 14px;
    width: 200px;
    justify-content: space-between;
    font-weight: 700;
    
}

.box-contact li:hover {
    border: 1px solid gold;
    border-radius: 10px;
    transform: scale(1.1); 
    box-shadow: 0 5px 15px rgba(0,0,0,0.6);
    font-weight: 700;
    
}

.contact:hover:nth-child(2){
    border: 1px solid green;
    border-radius: 10px;
    transform: scale(1.1); 
    box-shadow: 0 5px 15px rgba(0,0,0,0.6);
    font-weight: 700;
    
}
.contact:hover:nth-child(3) {
    border: 1px solid green;
    border-radius: 10px;
    transform: scale(1.1); 
    box-shadow: 0 5px 15px rgba(0,0,0,0.6);
    font-weight: 700;
}
.contact:hover:nth-child(4){
    border: 1px solid purple;
    border-radius: 10px;
    transform: scale(1.1); 
    box-shadow: 0 5px 15px rgba(0,0,0,0.6);
    font-weight: 700;
    
}
.contact:hover:nth-child(5){
    border: 1px solid rgb(8, 143, 211);
    border-radius: 10px;
    transform: scale(1.1); 
    box-shadow: 0 5px 15px rgba(0,0,0,0.6);
    font-weight: 700;
    
}

.contact {
    display: flex;
    justify-content: space-between;
    gap: 1.8rem;
    text-align: center;
    align-items: center;    
}


footer {
    height: 100%;
    color: whitesmoke;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
    background: gold;  
    padding-top: 30px ;
    width: 100%;
}

.end {
    display: block;
    width: 800px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    font-size: large;
    font-family: 'open sans';
    font-weight: 700;
    
}
.costumer {
    margin: 15px;
    font-size: xx-large;
    text-shadow:5px 10px 15px black;
    
}
.cnpj, .since {
    margin: 15px;
    font-size: xx-large;
    text-shadow:5px 10px 15px black;
}
.ttt {
    display: flex;
    justify-content: space-around;
    font-size: large;
    text-shadow:5px 10px 15px black;
}
/* Estilo para o botão de scroll */
#btnScrollToTop {
    display: none; /* Inicialmente esconde o botão */
    position: fixed; /* Fixa o botão na janela de visualização */
    bottom: 20px; /* Distância do botão até a parte inferior */
    right: 20px; /* Distância do botão até a parte direita */
    z-index: 99; /* Z-index para colocar o botão acima de outros elementos */
    font-size: 18px;
    border: none;
    outline: none;
    background-color: goldenrod;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 60%;
  }

  #btnScrollToTop img{
    height: 40px;
    width: 50px;
  }
  
@media screen and (max-width:320px){
    header {
        width: 100%;
        position: fixed;
       
    }
    .menu {
        padding: 0;
        width: 100%;
    }
    .menu-toogle {
        cursor: pointer;
        display: none;
    }
    .icon {
        width: 30px;
        height: 4px;
        background-color: black;
        margin: 6px 0;
        
    }

    .menu-toggle {
        display: block; /* Exibe o ícone do menu em telas menores */
    }

    .menu.active {
        top: -10px;
    }

    .menuu {
        background-color: gold;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        display: none; /* Esconde o menu em telas menores até que seja ativado */
    }

    .menuu.active {
        display: flex;
    }
    .content {
        width: 100%;
        display: block;
    }
    .picture-1 {
        width: 100%;
        
        
    }
    .picture-1 p {
        font-size: 100%;
        
    }
    .picture-1 img {
        width: 100%;
    }
    .sobre {
        width: 100%;
        display: block;
        
    }
    .texto {
        padding: 10px;
    }
    .imgsobre {
        display: flex;
        margin: 10px;
        
    }
    .imgsobre img {
        width: 100%;
    }
    .imgsobre img:nth-child(1) {
        display: none;
        
    }
    .mvv {
        width: 100%;
        height: auto;
        padding: 10px;
    }
    .action {
        width: 100%;
        padding: 10px;
        font-size: 80%;
    }
    .action img {
        width: 100%;
    }

    .acttext {
        font-weight: 500;
        font-size: 100%;
        color: rgb(73, 72, 72);
    }
    .service {
        width: 100%;
        height: 600px;
    }
    .fotos {
        width: 100%;
    }
    .slides img {
        width: 100%;
        max-width: 375px;
        min-width: 320px;
        border-radius: 15px;
        height: 320px;
        
    }
    .buttons {
        width: 100%;
        display: flex;
           
    }
    .location {
        padding: 10px;
        font-size: 15px;
    }
    .location iframe {
        width: 100%;
        height: 50%
    }
    .helper {
        width: 100%;
    }
    .help {
        width: 100%;
        font-size: 10px;
    }
    .contato {
        width: 100%;
        font-size: 10px;
        height: 100%;        
    }
    .box-contact{
        width: 100%
    }
    footer {
        width: 100%;
        height: 100%;
                
    }
    .ttt{
        display: block;
        font-size: 80%;
        
    }
    .end {
        width: 100%;
        height: 100%;
    }
    .cnpj, .since {
        font-size: 70%;
    }
    .costumer {
        font-size: 100%;
    }
   


}
@media screen and (min-width: 320px) and (max-width:375px){
    header {
        width: 100%;
        position: fixed;
       
    }
    .menu {
        padding: 0;
        width: 100%;
    }
    .menu-toogle {
        cursor: pointer;
        display: none;
    }
    .icon {
        width: 30px;
        height: 4px;
        background-color: black;
        margin: 6px 0;
        
    }

    .menu-toggle {
        display: block; /* Exibe o ícone do menu em telas menores */
    }

    .menu.active {
        top: -10px;
    }

    .menuu {
        background-color: gold;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        display: none; /* Esconde o menu em telas menores até que seja ativado */
    }

    .menuu.active {
        display: flex;
    }
    .content {
        width: 100%;
        display: block;
    }
    .picture-1 {
        width: 100%;
        
        
    }
    .picture-1 p {
        font-size: 100%;
        
    }
    .picture-1 img {
        width: 100%;
    }
    .sobre {
        width: 100%;
        display: block;
        
    }
    .texto {
        padding: 10px;
    }
    .imgsobre {
        display: flex;
        margin: 10px;
        
    }
    .imgsobre img {
        width: 100%;
    }
    .imgsobre img:nth-child(1) {
        display: none;
        
    }
    .mvv {
        width: 100%;
        height: auto;
        padding: 10px;
    }
    .action {
        width: 100%;
        padding: 10px;
        font-size: 80%;
    }
    .action img {
        width: 100%;
    }

    .acttext {
        font-weight: 500;
        font-size: 100%;
        color: rgb(73, 72, 72);
    }
    .service {
        width: 100%;
        height: 600px;
    }
    .fotos {
        width: 100%;
    }
    .slides img {
        width: 100%;
        max-width: 375px;
        min-width: 320px;
        border-radius: 15px;
        height: 320px;
                   
    }
    .buttons {
        width: 100%;
        display: flex;
           
    }
    .location {
        padding: 10px;
        font-size: 15px;
    }
    .location iframe {
        width: 100%;
        height: 50%
    }
    .helper {
        width: 100%;
    }
    .help {
        width: 100%;
        font-size: 10px;
    }
    .contato {
        width: 100%;
        font-size: 10px;
        height: 100%;        
    }
    .box-contact{
        width: 100%
    }
    footer {
        width: 100%;
        height: 100%;
                
    }
    .ttt{
        display: block;
        font-size: 80%;
        
    }
    .end {
        width: 100%;
        height: 100%;
    }
    .cnpj, .since {
        font-size: 70%;
    }
    .costumer {
        font-size: 100%;
    }
   


}

@media screen and (min-width: 375px) and (max-width:425px){
    header {
        width: 100%;
        position: fixed;
       
    }
    .menu {
        padding: 0;
        width: 100%;
    }
    .menu-toogle {
        cursor: pointer;
        display: none;
    }
    .icon {
        width: 30px;
        height: 4px;
        background-color: black;
        margin: 6px 0;
        
    }

    .menu-toggle {
        display: block; /* Exibe o ícone do menu em telas menores */
    }

    .menu.active {
        top: -10px;
    }

    .menuu {
        background-color: gold;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        display: none; /* Esconde o menu em telas menores até que seja ativado */
    }

    .menuu.active {
        display: flex;
    }
    .content {
        width: 100%;
        display: block;
    }
    .picture-1 {
        width: 100%;
        
        
    }
    .picture-1 p {
        font-size: 100%;
        
    }
    .picture-1 img {
        width: 100%;
    }
    .sobre {
        width: 100%;
        display: block;
        
    }
    .texto {
        padding: 10px;
    }
    .imgsobre {
        display: flex;
        margin: 10px;
        
    }
    .imgsobre img {
        width: 100%;
    }
    .imgsobre img:nth-child(1) {
        display: none;
        
    }
    .mvv {
        width: 100%;
        height: auto;
        padding: 10px;
    }
    .action {
        width: 100%;
        padding: 10px;
        font-size: 80%;
    }
    .action img {
        width: 100%;
    }

    .acttext {
        font-weight: 500;
        font-size: 100%;
        color: rgb(73, 72, 72);
    }
    .service {
        width: 100%;
        height: 600px;
    }
    .fotos {
        width: 100%;
    }
    .slides img {
        width: 100%;
        max-width: 425px;
        min-width: 375px;
        border-radius: 15px;
        height: 420px;
                   
    }
    .buttons {
        width: 100%;
        display: flex;
           
    }
    .location {
        padding: 10px;
        font-size: 15px;
    }
    .location iframe {
        width: 100%;
        height: 50%
    }
    .helper {
        width: 100%;
    }
    .help {
        width: 100%;
        font-size: 10px;
    }
    .contato {
        width: 100%;
        font-size: 10px;
        height: 100%;        
    }
    .box-contact{
        width: 100%
    }
    footer {
        width: 100%;
        height: 100%;
                
    }
    .ttt{
        display: block;
        font-size: 80%;
        
    }
    .end {
        width: 100%;
        height: 100%;
    }
    .cnpj, .since {
        font-size: 70%;
    }
    .costumer {
        font-size: 100%;
    }
   


}
@media screen and (min-width: 425px) and (max-width:768px){
    header {
        width: 100%;
        position: fixed;
       
    }
    .menu {
        padding: 0;
        width: 100%;
    }
    .menu-toogle {
        cursor: pointer;
        display: none;
    }
    .icon {
        width: 30px;
        height: 4px;
        background-color: black;
        margin: 6px 0;
        
    }

    .menu-toggle {
        display: block; /* Exibe o ícone do menu em telas menores */
    }

    .menu.active {
        top: -10px;
    }

    .menuu {
        background-color: gold;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        display: none; /* Esconde o menu em telas menores até que seja ativado */
    }

    .menuu.active {
        display: flex;
    }
    .content {
        width: 100%;
        display: block;
    }
    .picture-1 {
        width: 100%;
        
        
    }
    .picture-1 p {
        font-size: 100%;
        
    }
    .picture-1 img {
        width: 100%;
    }
    .sobre {
        width: 100%;
        display: block;
        
    }
    .texto {
        padding: 10px;
    }
    .imgsobre {
        display: flex;
        margin: 10px;
        
    }
    .imgsobre img {
        width: 50%;
    }
    .mvv {
        width: 100%;
        height: auto;
        padding: 10px;
    }
    .action {
        width: 100%;
        padding: 10px;
        font-size: 80%;
    }
    .action img {
        width: 100%;
    }

    .acttext {
        font-weight: 500;
        font-size: 100%;
        color: rgb(73, 72, 72);
    }
    .service {
        width: 100%;
        height: 600px;
    }
    .fotos {
        width: 100%;
    }
    .slides img {
        width: 100%;
        max-width: 768px;
        min-width: 425px;
        border-radius: 15px;
        height: 500px;
                   
    }
    .buttons {
        width: 100%;
        display: flex;
           
    }
    .location {
        padding: 10px;
        font-size: 15px;
    }
    .location iframe {
        width: 100%;
        height: 50%
    }
    .helper {
        width: 100%;
    }
    .help {
        width: 50%;
        font-size: 10px;
    }
    .contato {
        width: 100%;
        font-size: 10px;
        height: 100%;        
    }
    .box-contact{
        width: 50%
    }
    footer {
        width: 100%;
        height: 100%;
                
    }
    .ttt{
        display: block;
        font-size: 80%;
        
    }
    .end {
        width: 100%;
        height: 100%;
    }
    .cnpj, .since {
        font-size: 70%;
    }
    .costumer {
        font-size: 100%;
    }
   


}
